<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="client/images/ProfDavid.jpg" style="transform: rotate(90deg); align-content: center; padding-top: 150px; padding-left: 50px" height="400"/>
        </div>
        <div class="well well-lg aboutmll col-md-8">
            <h2><i> About Media Licensing Lab</i></h2>
            <p>
                Welcome to the first beta-test phase of the launch of Northeastern University’s Media Licensing Laboratory (ML-Lab), a prototype library featuring music created by independent musicians. You are invited join this effort, and upload your music onto our Platform.
                <br>
                <br>
                One of our long term goals is to launch the first student run music Licensing Program in the country so students can place great independent music in all manner of media, including movies, television shows, video games and commercials.
                <br>
                <br>
                Participation in the ML-Lab is non-exclusive, you retain all rights in your music, and you are free to withdraw from Licensing Program at any time.
                <br>
                <br>
                We are anxious to get your feedback about your experience with the Platform, so we ask that you send any feedback and bug reports promptly so that we can improve the Platform.
                <br>
                <br>
                Thanks for your participation in this exciting, one-of-a-kind initiative.
            </p>
        </div>
    </div>
</div>