<header class="app__header">
    <nav class="navbar navbar-default navbar-fixed-top searchbar-style">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <img src="./../../../client/images/NeuLogo.jpg" class="img-responsive center-block nuLogoHeader">
                </div>
            </div>
            <h4 class="navbar-text">Media Licensing Lab</h4>
            <!--<a href="#" class="navbar-right" ng-click="ctrl.logout()" ng-show="isLoggedIn" style="align-content: center">Logout</a>-->
            <!--<a href="#" class="navbar-btn navbar-right" ng-click="ctrl.logout()">Logout</a>-->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" ng-click="ctrl.logout()" ng-show="isLoggedIn">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>