<div class="container-fluid">
    <!--   <h1 class="page-header">{{ctrl.user.details.firstName}}&nbsp;{{ctrl.user.details.lastName}}&nbsp;</h1>-->
    <br/>
    <div class="col-md-3 col-lg-3 " align="center">
        <img alt="User Pic" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle img-responsive">
    </div>
    <div class=" col-md-9 col-lg-9 ">
        <h4><i>Artists/Bands :</i></h4>

        <div ng-show="ctrl.user.bands">
            <ul>
                <li ng-repeat="band in ctrl.user.bands">{{band.name}}</li>
            </ul>
        </div>

        <div ng-hide="ctrl.user.bands">
            <p> You are not associated with any bands at the moment </p>
        </div>

        <div class="form-group">
            <div class="col-xs-3">
                <button class="btn btn-block btn-primary" ng-click="ctrl.addBand()">Add Artist/Band</button>
            </div>
        </div>
    </div>
</div>

